.footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 20px;
  color: #34db45;
}

.social-icons a {
  font-size: 24px;
  color: #34db45;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  color: #34db45;
}

.fs-1 p-2 {
  color: #34db45;
}
